// Background Color
$body-background: #569cf8;
$card-background: #fff;
$list-background: #ddd;

// Font Color
$font-color: #000;

// textbox Color
$textbox-onfocus:$body-background;
$textbox: $list-background;

// Btn Color
$add-btn-color: #9252e6;
$check-btn-color: #0CC427;
$remove-btn-color: #F63C14;
$clear-btn-color: #9252e6;